body nav.navbar {
  padding-right: 5em;
  padding-left: 5em;
}
body nav.navbar a.navbar-brand {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 2.2em;
  font-weight: bold;
  color: #3a3939;
  padding: 0;
  position: relative;
}
body nav.navbar a.navbar-brand span {
  color: #ff3f34;
  font-size: 0.3em;
  letter-spacing: 6px;
  right: 0;
  top: 0;
  position: absolute;
}
body nav.navbar a {
  font-size: 0.9em;
  font-family: "Lato", sans-serif;
}
body nav.navbar button {
  background-color: #eeeeee;
  font-size: 1em;
  padding: 0.7em;
}

body div.top {
  background: linear-gradient(to bottom, #fff, #fbfbfb);
}
body div.top .row .col-md .container p {
  margin-bottom: 3em;
  color: #999999;
  font-family: "Lato", sans-serif;
  font-size: 1.1em;
}
body div.top .row .col-md .container div button.btn-outline-secondary {
  margin-left: 1em;
}
body .carousel-indicators {
  margin-bottom: 0;
}
body .carousel-indicators li {
  background-color: black;
  opacity: 1;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
body .carousel-indicators .active {
  background-color: red;
}

body div.about-us {
  margin-top: 2em;
}
body div.about-us .row .col-md {
  padding-left: 0;
  position: relative;
  width: 100%;
}
body div.about-us .row .col-md img {
  max-width: 100%;
}
body div.about-us .row .col.text {
  padding-right: 3em;
}

body div.our-special {
  margin-top: 3.5em;
  margin-bottom: 3.5em;
}
body div.our-special .container.title {
  margin-bottom: 3.5em;
}
body div.our-special .container.cards .card-deck .card div.card-body h5 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.4em;
  letter-spacing: normal;
}
body div.our-special .container.cards .card-deck .card div.card-body p {
  color: #999999;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  margin-bottom: 3em;
}

body div.best {
  padding: 0;
}
body div.best div.row div.col-md div.container {
  padding: 6em 1.5em;
}
body div.best div.row div.col-md div.container a {
  color: white;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 2em;
  font-weight: bolder;
}
body div.best div.row div.col-md div.container p {
  color: white;
  font-family: "Lato", sans-serif;
  margin-top: 1em;
}
body div.best div.row div.col-md div.container div {
  margin-top: 4em;
}
body div.best div.row div.first {
  background-image: url("../../images/bg3.jpg");
  background-size: cover;
}
body div.best div.row div.second {
  background-image: url("../../images/bg4.jpg");
  background-size: cover;
}

body div.our-work {
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  background-color: #fefefe;
  background-image: url("../../images/bg5.jpg");
  background-size: cover;
  position: relative;
}
body div.our-work div.container div.row.first {
  margin: 3em 0;
}
body div.our-work div.container div.row.outside {
  margin-bottom: 5em;
}
body div.our-work div.container div.row.outside div div div.inside a {
  color: #333333;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
}
body div.our-work div.container div.row.outside div div div.inside p {
  color: #999999;
  font-family: "Lato", sans-serif;
  font-size: 1.1em;
  margin-top: 1em;
}
body div.our-work div.container div.img-food {
  position: absolute;
  bottom: -20%;
}

body section.burger-slider {
  margin: 5em 0;
  background-image: url(../../images/bg7.jpg);
  background-repeat: repeat-x;
  animation: slideleft 20000s infinite linear;
  -webkit-animation: slideleft 20000s infinite linear;
  background-size: cover;
  min-height: 25em;
}

@keyframes slideleft {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 90000%;
  }
}
body div.posts {
  margin-top: 14em;
}
body div.posts div.title {
  margin-bottom: 4em;
}
body div.posts div.title div p {
  font-family: "Lato", sans-serif;
  font-size: 0.9em;
  color: #999999;
  margin: 1em 0;
}
body div.posts div.row div.col-md div.card div.header {
  position: relative;
}
body div.posts div.row div.col-md div.card div.header img.rounded-circle {
  position: absolute;
  left: 5%;
  top: 75%;
}
body div.posts div.row div.col-md div.card div.card-body {
  margin-top: 3em;
}
body div.posts div.row div.col-md div.card div.card-body h5 {
  font-family: "Barlow Semi Condensed", sans-serif;
  letter-spacing: 0.5px;
}
body div.posts div.row div.col-md div.card div.card-body h5 a {
  color: black;
  text-decoration: none;
}
body div.posts div.row div.col-md div.card div.card-body h5 a:hover {
  opacity: 0.7;
}
body div.posts div.row div.col-md div.card div.card-body div.container h6 {
  font-size: 0.8em;
  color: #777777;
  text-transform: uppercase;
  margin: 0.5em;
  letter-spacing: 1px;
  word-spacing: 3px;
  font-weight: lighter;
}
body div.posts div.row div.col-md div.card div.card-body p {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

body div.newsletters {
  margin-bottom: 1em;
}
body div.newsletters div.row div.col-md div.container {
  padding-left: 8em;
}
body div.newsletters div.row div.col-md div.container p {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  color: #999999;
  margin: 1em 0;
}
body div.newsletters div.row div.col-md div.container button.btn-danger:hover {
  background-color: #dc3545;
  border-color: #dc3545;
  opacity: 0.9;
}
body div.newsletters div.row div.col-md div.container div.input-group {
  margin-top: 3em;
}
body div.newsletters div.row div.col-md div.container div.input-group input.form-control {
  height: auto;
}
body div.newsletters div.row div.image {
  padding-right: 0;
}

body footer.footer {
  background-color: #17181b;
  padding: 4em 0;
}
body footer.footer div.container div.row div.brand a {
  text-decoration: none;
}
body footer.footer div.container div.row div.brand a:hover {
  opacity: 0.8;
}
body footer.footer div.container div.row div.brand a.footer-brand {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 2.2em;
  font-weight: bold;
  color: #3a3939;
  padding: 0;
  position: relative;
  padding-top: 0.1em;
  color: #fff;
}
body footer.footer div.container div.row div.brand a.footer-brand span {
  color: #ff3f34;
  font-size: 0.3em;
  letter-spacing: 6px;
  right: 0;
  top: 0;
  position: absolute;
}
body footer.footer div.container div.row div.form-group {
  margin-bottom: 0.5em;
}
body footer.footer div.container div.row div.text {
  margin: 2em 0;
  padding-left: 0;
}
body footer.footer div.container div.row form button {
  margin-top: 0.5em;
  padding: 0.5em 2em;
}
body footer.footer div.container div.row h4.title {
  color: #fff;
  font-family: "Barlow Semi Condensed", sans-serif;
  letter-spacing: 0.05em;
  margin: 1em 0;
}
body footer.footer div.container div.row p {
  color: #727377;
  font-family: "Barlow Semi Condensed", sans-serif;
}
body footer.footer div.container div.row ul {
  align-items: center;
  list-style-type: none;
}
body footer.footer div.container div.row ul.media li p {
  margin-right: 1em;
  margin-left: 0;
  margin-bottom: 0;
}
body footer.footer div.container div.row ul.media li a {
  color: #ffffff;
  width: 1.9em;
  height: 1.9em;
  line-height: 1.9em;
  margin: 0 0.2em;
}
body footer.footer div.container div.row ul.media li.facebook a {
  background-color: #3b5998;
}
body footer.footer div.container div.row ul.media li.twitter a {
  background-color: #1da1f2;
}
body footer.footer div.container div.row ul.media li.google a {
  background-color: #f44336;
}
body footer.footer div.container div.row ul.media li.dribble a {
  background-color: #ea4c89;
}
body footer.footer div.container div.row ul.payments li {
  margin: 0 0.1em;
}
body div.disclaimer {
  background-color: #1c1d21;
  color: #999999;
  font-family: "Lato", sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  padding: 1.7em 0;
}
body div.disclaimer p {
  margin-bottom: 0;
}

body h5 {
  font-family: "Lato", sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.2em;
}
body h3 {
  color: #343a40;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 2.3em;
  font-weight: bolder;
}
body h3 span {
  color: #ff3f34;
}
body button.btn {
  font-family: "Lato", sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  padding: 1em 1.3em;
}
body button.btn:hover {
  background-color: #05c46b;
  border-color: #05c46b;
  opacity: 0.9;
}
body button.btn-success {
  background-color: #05c46b;
  border-color: #05c46b;
}

/*# sourceMappingURL=main.css.map */
