@use 'utils' as utils;

body {
  div.top {
    background: linear-gradient(to bottom, #fff, #fbfbfb);
    .row {
      .col-md {
        .container {
          p {
            margin-bottom: 3em;
            color: #999999;
            font-family: utils.$secondary-font;
            font-size: 1.1em;
          }

          div {
            button.btn-outline-secondary {
              margin-left: 1em;
            }
          }
        }
      }
    }
  }

  .carousel-indicators {
    margin-bottom: 0;
    li {
      background-color: black;
      opacity: 1;
      width: 10px;
      height: 10px;
      border-radius: 100%;
    }

    .active {
      background-color: red;
    }
  }
}
