@use 'utils' as util;

body {
  div.newsletters {
    div.row {
      div.col-md {
        div.container {
          p {
            font-family: util.$secondary-font;
            font-size: 0.9em;
            color: #999999;
            margin: 1em 0;
          }
        }
      }
    }
  }
}
