@use 'utils' as util;

body {
  div.posts {
    margin-top: 14em;
    div.title {
      margin-bottom: 4em;
      div {
        p {
          color: #999999;
          margin: 1em 0;
        }
      }
    }

    div.row {
      div.col-md {
        div.card {
          div.header {
            position: relative;
            img.rounded-circle {
              position: absolute;
              left: 5%;
              top: 75%;
            }
          }

          div.card-body {
            margin-top: 3em;

            h5 {
              font-family: util.$primary-font;
              letter-spacing: 0.5px;
              a {
                color: black;
                text-decoration: none;
              }

              a:hover {
                opacity: 0.7;
              }
            }

            div.container {
              h6 {
                font-size: 0.8em;
                color: #777777;
                text-transform: uppercase;
                margin: 0.5em;
                letter-spacing: 1px;
                word-spacing: 3px;
                font-weight: lighter;
              }
            }

            p {
              margin-top: 0.5em;
              margin-bottom: 1.5em;
            }
          }
        }
      }
    }
  }
}
